# Hermis Agent Environment Variables

HERMIS_ROOT=/opt/hermis
POSTGRES_USER=hermis
POSTGRES_PASSWORD=hermis_secure_password_123
POSTGRES_DB=hermis
REDIS_PASSWORD=redis_secure_password_123
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=grafana_secure_password_123
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=keycloak_secure_password_123
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio_secure_password_123
VAULT_DEV_ROOT_TOKEN_ID=vault_root_token_123
QDRANT_API_KEY=qdrant_api_key_123
TZ=UTC
